---
import Head from '../components/common/Head.astro';
import Header from '../components/common/Header.astro';
---

<html lang="fr">
	<head>
		<Head title="Portfolio" description="Corentin Derimay"></Head>
	</head>
	<body>
        <Header></Header>
		<slot/>
	</body>
</html>
